@charset "utf-8";

:root{
    --gap-ico-setting:56px;

    --state-default-color:#098684;
    --state-imminent-color:#ED3964;
    --state-end-color:#999;
    --state-ylw-color:#F6AE0D;
    --state-before-color:#344A47;
    --state-eval-ing-color:#F6AE0D;
    --state-write-ing-color:#592BC7;
    --state-darkgr-color:#708C7A;

    --color-org:#E45200;
}


/* reset css */
html,body{margin:0;padding:0;height:100%;margin:0 auto;}
body{font:16px/1 'Noto Sans KR', 'Apple Gothic', sans-serif;color:#222;letter-spacing:-.025em;line-height:1.25}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0;}
input,textarea,select,td,th,button{font:16px/1 'Noto Sans KR', 'Apple Gothic', sans-serif;color:#222;letter-spacing:-.01em;vertical-align:middle;}
input,textarea,select{color:#222;-webkit-appearance:none;-webkit-border-radius:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;}
ol,ul,li{list-style:none;}
hr, legend, .hidden{position:absolute;top:0;left:-3000px;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
caption{position:relative;visibility:hidden;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
.blind{overflow:hidden;position:absolute;left:-9999px !important;top:-9999px !important}
img,fieldset{border:0 none;}
label,button{cursor:pointer;}
button{background:inherit;border:none;box-shadow:none;border-radius:0;padding:0;overflow:visible;cursor:pointer}
em,address{font-style:normal;}
a:link,a:visited{color:#222;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
img{vertical-align:top;width:100%;}
input[type="text"],
textarea{display:block;width:100%;padding:10px;border:0 none;box-sizing:border-box;resize:none;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow:0 0 0 1000px #FFFFFF inset !important;
    -webkit-text-fill-color:#232323 !important;
}
input:focus{outline:0 none}

.in_block{display:inline-block;}
.flex{display:flex;}
.flex_center{display:flex;align-items:center;}
.justify_between{justify-content:space-between;}
.justify_end{justify-content:flex-end;}
.column{flex-direction:column}
.align_normal{align-items:normal !important}
.flex_column_gap{display:flex;height:100%;flex-direction:column;gap:12px;}
.flex_ratio1{flex:1}
.flex_ratio2{flex:2 !important}
.tright{text-align:right}
.mt_auto{margin-top:auto}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt25{margin-top:25px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.pos_rel{position:relative}
.pos_abs{position:absolute !important;}
.mb5{margin-bottom:5px}
.v_top{vertical-align:top}
.ft_size_14{font-size:14px}
.ft_color_red{color:var(--state-imminent-color)}
.ft_color_gray{color:var(--state-end-color)}
.info_line_txt{display:flex;min-height:36px;padding:10px;align-items:center;justify-content:center;font-size:14px;color:#999;border-top:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;box-sizing:border-box;}
.txt_counter{text-align:right;font-size:14px;color:#999;color:var(--state-end-color)}
.txt_counter > span{color:#222}
.bg_cont_gray{padding:40px 20px;background:#F3F3F3}
.cont_pd{padding:40px 20px;}
.cont_pd_top{padding:20px 20px 0;}



.inp_chk{display:inline-block;position:relative;margin-right:24px;}
.inp_chk:last-child{margin-right:0;}
.inp_chk input[type=checkbox]{display:none;top:0;right:0;bottom:0;left:0;}
.inp_chk input[type=checkbox]+ label{position:relative;display:inline-block;padding-left:26px;line-height:20px;color:#222;}
.inp_chk input[type=checkbox]+ label:before{content:'';display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url('../images/btn/btn_checkbox.svg') no-repeat 50% 50%;}
.inp_chk input[type=checkbox]:checked + label:before{background:url('../images/btn/btn_checkbox_active.svg') no-repeat 50% 50%;}
/*
.inp_radio input[type=radio]{display:none;top:0;right:0;bottom:0;left:0;}
.inp_radio input[type=radio] + label{position:relative;display:inline-block;padding-left:20px;line-height:16px;margin-right:20px;}
.inp_radio input[type=radio] + label:last-child{margin-right:0;}
.inp_radio input[type=radio] + label:before{content:'';display:block;position:absolute;top:0;left:0;background-position:-5px -31px;width:16px;height:16px;}
.inp_radio input[type=radio]:checked + label:before{content:'';display:block;position:absolute;top:0;left:0;background-position:-31px -31px;width:16px;height:16px;}
.inp_radio input[type=radio] + label:before,
.inp_radio input[type=radio]:checked + label:before{background:url(https://pic.neungyule.com/myolin/m/sp_input.png) no-repeat 0 / 74px 52px;}
*/

.header_type1{position:relative;z-index:100;display:flex;width:100%;align-items:center;justify-content:center;height:56px;padding:0 20px;box-sizing:border-box;}
.header_type1 .btn_prev{position:absolute;left:10px;top:50%;display:inline-block;width:30px;height:30px;text-indent:-9999px;background:url('../images/btn/btn_prev.svg') no-repeat 50% 50% / 10px auto;transform:translateY(-50%)}
.header_type1 .btn_home{position:absolute;left:40px;top:50%;display:inline-block;width:30px;height:30px;text-indent:-9999px;background:url('../images/btn/btn_home.svg') no-repeat 50% 50% / 18px auto;transform:translateY(-50%)}
.header_type1 .btn_next{position:absolute;right:20px;top:50%;display:inline-block;font-size:16px;color:#999;transform:translateY(-50%)}
.header_type1 .btn_next.active{color:#018975;font-weight:500}
.header_type1 .page_name{font-size:16px;font-weight:700;color:#222}
.header_type1 .btn_info{position:absolute;top:15px;right:55px;width:30px;height:30px;text-indent:-9999px;background:url('../images/ico/ico_info.svg') no-repeat 50% 50% / 24px auto;}
.header_type1 .btn_schedule{position:absolute;right:20px;top:15px;display:inline-block;width:30px;height:30px;text-indent:-9999px;border:0 none;text-indent:-9999px;background:url('../images/ico/ico_schedule.svg') no-repeat 50% 50% / 24px auto;}
.header_type1.pos_abs .btn_prev{background:url('../images/btn/btn_prev_white.svg') no-repeat 50% 50% / 10px auto;}

.header_type2{display:flex;height:56px;padding:0 20px;align-items:center;justify-content:space-between;box-sizing:border-box;}
.header_type2 nav ul{display:flex;gap:20px;align-items:center}
.header_type2 nav li button{font-size:16px;color:#999}
.header_type2 nav li.active button{color:#222;font-size:18px;font-weight:700}
.header_type2 .btn_project_add{position:absolute;right:20px;top:12px;display:inline-block;width:30px;height:30px;text-indent:-9999px;background:url('../images/ico/ico_plus_active.svg') no-repeat 50% 50% / 14px auto;}

.header_type3{position:absolute;left:0;top:0;z-index:100;display:flex;width:100%;align-items:center;justify-content:center;height:56px;padding:0 20px;box-sizing:border-box;transition:all .2s ease}
.header_type3 .btn_prev{position:absolute;left:20px;top:15px;display:inline-block;width:30px;height:30px;text-indent:-9999px;background:url('../images/btn/btn_prev_white.svg') no-repeat 50% 50% / 10px auto}
.header_type3 .btn_drop_menu{top:15px;right:20px;width:30px;height:30px;background:url('../images/ico/ico_ellipsis_vt_white.svg') no-repeat 50% 50% / 4px auto;}
.header_type3 .btn_sharing{position:absolute;right:55px;top:15px;display:inline-block;width:30px;height:30px;border:0 none;text-indent:-9999px;background:url('../images/ico/ico_sharing_white.svg') no-repeat 50% 50% / 24px auto;}

.page_nav ul{display:flex;min-height:40px;padding:0 20px;/*flex-wrap:wrap;*/align-items:center;border-bottom:1px solid #F3F3F3;box-sizing:border-box;}
.page_nav.swiper_type_nav ul{flex-wrap:nowrap}
.page_nav ul li{position:relative;width:auto !important;text-align:center}
.page_nav ul li.active:after{content:'';position:absolute;left:50%;bottom:-1px;display:inline-block;width:28px;height:3px;background:#018975;transform:translateX(-50%);}
.page_nav ul li button{display:flex;height:40px;padding:0 15px;align-items:center;justify-content:center;font-size:16px;color:#999;}
.page_nav ul li.completed button{color:#018975}
.page_nav ul li.active button{color:#222;font-weight:700}
/*
.gnb{position:fixed;left:0;bottom:0;z-index:100;width:100%;box-shadow:0 -5px 20px rgba(0, 0, 0, .08);background:#fff;}
.gnb ul{display:flex;height:72px;}
.gnb ul li{flex:1}
.gnb ul li button{position:relative;display:block;width:100%;height:100%;padding-top:40px;font-size:10px;color:#999;text-align:center;box-sizing:border-box;}
.gnb ul li.active button{color:#141414}
.gnb ul li button:before{content:'';position:absolute;left:50%;top:14px;display:inline-block;width:25px;height:25px;transform:translateX(-50%);background:url('../images/ico/ico_gnb_artist.svg') no-repeat}
.gnb.artist ul li:first-child button:before{background-position:0 0}
.gnb.artist ul li:nth-child(2) button:before{background-position:-25px 0}
.gnb.artist ul li:nth-child(3) button:before{background-position:-50px 0}
.gnb.artist ul li:nth-child(4) button:before{background-position:-75px 0}
.gnb.artist ul li:nth-child(5) button:before{background-position:-100px 0}
.gnb.artist ul li.active:first-child button:before{background-position:0 -25px}
.gnb.artist ul li.active:nth-child(2) button:before{background-position:-25px -25px}
.gnb.artist ul li.active:nth-child(3) button:before{background-position:-50px -25px}
.gnb.artist ul li.active:nth-child(4) button:before{background-position:-75px -25px}
.gnb.artist ul li.active:nth-child(5) button:before{background-position:-100px -25px}
.gnb.producer ul li button:before{background:url('../images/ico/ico_gnb_producer.svg') no-repeat}
.gnb.producer ul li:first-child button:before{background-position:0 0}
.gnb.producer ul li:nth-child(2) button:before{background-position:-26px 0}
.gnb.producer ul li:nth-child(3) button:before{background-position:-51px 0}
.gnb.producer ul li:nth-child(4) button:before{background-position:-76px 0}
.gnb.producer ul li:nth-child(5) button:before{background-position:-101px 0}
.gnb.producer ul li.active:first-child button:before{background-position:0 -25px}
.gnb.producer ul li.active:nth-child(2) button:before{background-position:-25px -25px}
.gnb.producer ul li.active:nth-child(3) button:before{background-position:-51px -25px}
.gnb.producer ul li.active:nth-child(4) button:before{background-position:-76px -25px}
.gnb.producer ul li.active:nth-child(5) button:before{background-position:-101px -25px}
*/
.video_box{position:relative;width:100%;height:0;padding-top:56.25%}
.video_box > iframe{position:absolute;left:0;top:0;width:100%;height:100%;}

/*popup*/
.pop_wrap{overflow-y:auto;position:absolute;bottom:0;left:0;width:100%;z-index:10;/*min-height:360px;*/height:auto;background-color:#fff;transform:translateY(100%);transition:all .2s ease}
.pop_wrap .pop_handle{position:absolute;left:0;top:0;z-index:100;width:100%;height:50px;}
.pop_wrap .pop_handle.has_head{height:30px}
.pop_wrap .pop_handle:before{content:'';position:absolute;left:50%;top:10px;display:inline-block;width:50px;height:3px;background:#E0E0E0;transform:translateX(-50%)}
.pop_wrap .pop_head{position:relative;z-index:100;margin-top:30px;padding:0 25px 0 25px;text-align:right;}
.pop_wrap .pop_cont{padding:35px 25px 65px 25px;/*min-height:360px;*/box-sizing:border-box;}
.pop_wrap .pop_cont.pd0{padding:35px 0}
.dim_layer{/*display:none;*/visibility:hidden;position:fixed;bottom:0;left:0;width:100%;height:100%;z-index:100;}
.dim_layer .dim{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);}
.dim_layer.active{visibility:visible}
.dim_layer.active .pop_wrap {transform:translateY(0);}
.dim_layer.full .pop_wrap{height:100%}
 
/* sweetalert2 custom */
.swal2-popup.pop_confirm{padding-bottom:0;border-radius:0;}
.pop_confirm .swal2-title{padding:30px 0 5px;font-size:16px;line-height:1.44;color:#020202}
.pop_confirm.only_tit .swal2-title{padding:30px 0;}
.pop_confirm .swal2-html-container{padding:30px 20px;margin:0;font-size:14px;line-height:1.44;color:#020202;}
.pop_confirm .swal2-title:not([style*="display:none"]) + .swal2-html-container{padding:20px 20px 30px}
.pop_confirm .swal2-actions{width:100%;margin-top:0;border-top:1px solid #E7E7E7}
.pop_confirm .swal2-actions button{flex:1;height:50px;margin:0;border-radius:0;font-size:16px;color:#222;background:#fff;}
.pop_confirm .swal2-actions button:hover{background-image:none !important;}
.pop_confirm .swal2-actions button:focus{box-shadow:none !important;}
.pop_confirm .swal2-actions button.swal2-confirm{font-weight:700}

/*drop_box*/
.drop_box{position:relative;}
.drop_box .selected{display:flex;height:20px;padding:0;font-size:14px;background:#fff;border:0 none;align-items:center}
.drop_box .selected:after{content:'';display:inline-block;width:10px;height:6px;margin-left:10px;background:url('../images/ico/ico_selet_arr.svg') no-repeat 50% 50% / 100% auto}
.drop_box .selected.active:after{transform:rotate(-180deg)}
.drop_box ul{display:none;position:absolute;right:0;top:calc(100% + 6px);z-index:10;min-width:100px;}
.drop_box ul li{border:1px solid #E0E0E0;background:#fff;}
.drop_box ul li + li{border-top:0 none}
.drop_box ul li button{display:flex;width:100%;min-height:40px;padding:0 10px;align-items:center;color:#999;font-size:15px;word-break:keep-all;box-sizing:border-box;}


/*drop_menu*/
.drop_menu{display:none;position:absolute;right:10px;top:50px;z-index:1;}
.drop_menu ul li{border:1px solid #E0E0E0;background:#fff;}
.drop_menu ul li + li{border-top:0 none}
.drop_menu ul li button{display:flex;width:100%;min-height:40px;padding:0 10px;align-items:center;color:#222;font-size:14px;word-break:keep-all;box-sizing:border-box;}

/*seletbox*/
.sel_box{position:relative;width:100%}
.sel_box select{display:none}
.select-selected:after{position:absolute;content:'';top:50%;right:12px;display:inline-block;width:14px;height:8px;background:url('../images/ico/ico_selet_arr.svg') no-repeat 50% 50% / 100% auto;transform:translateY(-50%);}
.select-selected.select-arrow-active:after{transform:translateY(-50%) rotate(180deg)}
.select-items div,
.select-selected {padding:12px 10px;border:1px solid transparent;cursor:pointer;user-select:none;}
.select-items div{min-height:38px;color:#999;font-size:14px;border:1px solid #E0E0E0;background:#fff;box-sizing:border-box;}
.select-items div + div{border-top:0 none;}
.select-items div:last-child{border-bottom:0 none}
.select-items div.same-as-selected{color:#222;background:#E6F4F2 url('../images/ico/ico_check.svg') no-repeat right 10px top 50% / 20px auto}
.select-selected{color:#999;font-size:16px;border:0 none;border-bottom:1px solid #E7E7E7}
.select-selected.select-arrow-active{border-color:#018975;}
.select-selected.has_value{border-color:#018975;color:#222}
.select-items{position:absolute;top:calc(100% + 1px);left:0;right:0;z-index:99;overflow-y:auto;max-height:50vh;border-top:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0}
.select-hide{display:none;}

.sel_box_type2{position:relative;border:1px solid #D8D8D8;}
.sel_box_type2:after{position:absolute;content:'';top:50%;right:12px;display:inline-block;width:14px;height:8px;background:url('../images/ico/ico_selet_arr.svg') no-repeat 50% 50% / 100% auto;transform:translateY(-50%) rotate(180deg)}
.sel_box_type2 select{width:100%;height:48px;padding:0 10px;border:0 none;text-align:center;font-size:20px;background:#fff;box-sizing:border-box;}


/*reg_form*/
.reg_form{padding:40px 20px;}
.reg_form .inp_field + .inp_field{margin-top:28px}
.reg_form .inp_field .row{display:flex;fgap:8px}
.reg_form .inp_field .txt_counter + .inp_box{margin-top:0}
.reg_form .inp_box{position:relative;display:flex;height:40px;flex:1;align-items:center;margin-top:8px;}
.reg_form .inp_box.high{height:150px;align-items:normal}
.reg_form .inp_box .txt{font-size:16px;color:#222}
.reg_form .inp_box .btn_reset{display:none;position:absolute;right:10px;top:50%;width:24px;height:24px;flex-shrink:0;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_reset.svg') no-repeat 50% 50% / 24px auto;transform:translateY(-50%)}
.reg_form label{font-size:14px;color:#222}
.reg_form label .lab_sub{font-size:14px;color:#999}
.reg_form .inp_txt{height:40px;margin-top:8px;/*font-size:16px;*/font-size:15px;color:#222;border-bottom:1px solid #E7E7E7}
.reg_form textarea.inp_txt{display:block;width:100%;height:100%;padding:10px;border:1px solid #E7E7E7}
.reg_form .inp_txt.flatpickr{background:url('../images/ico/ico_calendar.svg') no-repeat right 14px top 50% / 14px auto}
.reg_form .inp_txt::placeholder{color:#999}
.reg_form .inp_txt:focus:not(textarea),
.reg_form .inp_txt:not(:placeholder-shown):not(textarea){border-color:#018975}
.reg_form .inp_txt.error{border-color:#ED394F}
.reg_form .inp_txt:disabled{background:#F3F3F3;color:#999}
.reg_form .inp_field .row .select-selected{padding:10px;margin-top:8px}
.reg_form .msg_error{display:none;margin-top:5px;font-size:12px;line-height:1.5;color:#ED394F}
.reg_form .btn_box{margin:40px 0}

.tag_list{display:flex;gap:8px;flex-wrap:wrap;}
.tag_list .tag_item{display:inline-flex;height:30px;padding:0 10px 0 8px;align-items:center;border-radius:4px;background:rgba(62, 102, 76, 0.1);font-size:13px}
.tag_list .btn_del{display:inline-block;width:8px;height:8px;margin-left:10px;text-indent:-9999px;background:url('../images/btn/btn_close.svg') no-repeat 50% 50% / 100% auto;}


ul.list_type1{font-size:16px;}
ul.list_type1 li{border-bottom:1px solid #E7E7E7}
ul.list_type1 li.active{background:#E6F4F2 url('../images/ico/ico_check.svg') no-repeat right 10px top 50% / 20px auto;}
ul.list_type1 li > button{display:block;width:100%;padding:15px 10px;height:100%;text-align:left;box-sizing:border-box;}
ul.list_type2 li{position:relative;padding:14px 0;border-bottom:1px solid #E7E7E7}
ul.list_type2 li:first-child{border-top:1px solid #E7E7E7}
ul.list_type2 li .label{display:inline-block;padding:4px 12px;font-weight:700;background:#e0e0e0;border-radius:4px}
ul.list_type2 li .label.mark{background:#FFEEC0}
ul.list_type2 li .subject{padding:0 30px 0 14px;line-height:1.5;word-break:keep-all}
ul.list_type2 li .btn_del{position:absolute;right:10px;top:14px;display:inline-block;width:20px;height:20px;text-indent:-9999px;border:0 none;background:url('../images/btn/btn_close.svg') no-repeat 50% 50% / 16px auto;}
ul.list_type3{/*border-top:1px solid #E7E7E7*/}
ul.list_type3 li{position:relative;padding:14px 0;border-bottom:1px solid #E7E7E7}
ul.list_type3 li:first-child{border-top:1px solid #E7E7E7}
ul.list_type3 li .subject{position:relative;padding:0 30px 0 36px;line-height:1.5;font-size:15px;word-break:keep-all}
ul.list_type3 li .subject:before{content:'';position:absolute;left:12px;top:3px;display:inline-block;width:0px;height:0px;margin-right:6px;border-style:solid;border-width:10px 0 10px 16px;border-color:transparent transparent transparent #F6AE0D;transform:rotate(0deg);}
ul.list_type3 li .btn_del{position:absolute;right:10px;top:16px;display:inline-block;width:20px;height:20px;text-indent:-9999px;border:0 none;background:url('../images/btn/btn_close.svg') no-repeat 50% 50% / 16px auto;}
.list_type4 > li{position:relative;display:flex;gap:0 10px;padding:0 0 21px;}
.list_type4 > li:last-child{padding-bottom:0;}
.list_type4 > li .label{font-weight:700;padding-left:16px;}
.list_type4 > li .label:after{content:'';display:inline-block;width:10px;height:10px;border-radius:50%;background:#FEB104;position:absolute;left:0;top:6px;z-index:2;}
.list_type4 > li:nth-child(1) .label:after{background:#018975;}
.list_type4 > li > ul > li{word-break:keep-all;}
.list_type4 > li > ul > li + li{margin:8px 0 0;}
.list_type4.has_line > li:after{content:'';width:1px;height:100%;position:absolute;left:5px;top:6px;background:#E7E7E7;}
.list_type5 > li{display:flex;gap:0 10px;}
.list_type5 > li + li{margin:10px 0 0;}
.list_type5 > li .label{display:inline-block;width:62px;height:23px;line-height:23px;text-align:center;font-weight:700;background:#FFEEC0;}
.list_type5 > li .text{flex:1;}
.news_list li{display:flex;gap:40px 15px;}
.news_list li + li{margin-top:30px;}
.news_list li .thumb{width:30%;flex-shrink:0;}
.news_list li .tit{margin-bottom:5px;font-weight:700;}
.card_list .item{position:relative;padding:20px;background:#fff;border-radius:12px;box-sizing:border-box;}
.card_list .item.active{box-shadow:inset 0 0 0 2px #FEB104}
.card_list .item > a:first-child{display:block;height:100%;-webkit-tap-highlight-color:transparent;}
.card_list:not(.swiper-wrapper) .item + .item{margin-top:24px;}
.card_list .top{position:relative;padding:0 0 15px 0;margin-bottom:15px;border-bottom:1px solid #E7E7E7}
.card_list .top.state{padding:0 0 15px 20px;}
.card_list .top.state:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:6px;height:calc(100% - 16px);border-radius:3px;background:#eee}
.card_list .txt_num{display:block;/*margin-bottom:15px;*/font-size:16px;font-weight:700}
.card_list .subject{margin:4px 0;font-size:16px;line-height:1.44;font-weight:700;}
.card_list .sub_dot_list li{font-size:12px}
.card_list.straight_type{margin-top:24px}
.card_list.straight_type .item{padding:12px;margin-top:0 !important;border-radius:0;border-top:1px solid #E7E7E7;}
.card_list.straight_type .item:last-child{border-bottom:1px solid #E7E7E7}
.card_list.straight_type .item.end{position:relative}
.card_list.straight_type .item.end:after{content:'';position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;background:rgb(243, 243, 243, .4)}

.role_list li{position:relative;padding:0 0 30px;}
.role_list li + li{padding:30px 0;border-top:1px solid #E7E7E7}
.role_list li .btn_del{position:absolute;right:0;top:30px;display:inline-block;width:24px;height:24px;text-indent:-9999px;border:0 none;background:url('../images/btn/btn_close.svg') no-repeat 50% 50% / 18px auto;}
.proile_info_list li{padding:25px 0;}
.proile_info_list li + li{border-top:1px solid #E7E7E7;}

/*.top.red:before{background:var(--state-imminent-color) !important}
.top.red .txt_num{color:var(--state-imminent-color) !important}
.top.default:before{background:var(--state-default-color) !important}
.top.default .txt_num{color:var(--state-default-color) !important}
.top.end:before{background:var(--state-end-color) !important}
.top.end .txt_num{color:var(--state-end-color) !important}*/

.role_label{display:inline-block;padding:2px 12px;background:#E6F4F2;color:#018975;font-weight:700;}
.txt_people{padding-left:26px;background:url('../images/ico/ico_people.svg') no-repeat 0 50% / 16px auto}
.txt_location{padding-left:26px;background:url('../images/ico/ico_location.svg') no-repeat 0 50% / 16px auto}
.txt_light_gr{font-size:16px;line-height:1.5;color:#666}
.txt_point_green{font-size:16px;line-height:1.5;color:#018975 !important}

.ft_color_default{color:var(--state-default-color) !important}
.ft_color_red{color:var(--state-imminent-color) !important}
.ft_color_end{color:var(--state-end-color) !important}
.ft_color_org{color:var(--color-org) !important}
.ft_color_before{color:var(--state-before-color) !important}
.ft_color_write_ing{color:var(--state-write-ing-color) !important}
.ft_color_eval_ing{color:var(--state-eval-ing-color) !important}

.bg_state_default{background:var(--state-default-color) !important}
.bg_state_red{background:var(--state-imminent-color) !important}
.bg_state_end{background:var(--state-end-color) !important}
.bg_state_before{background:var(--state-before-color) !important}
.bg_state_write_ing{background:var(--state-write-ing-color) !important}
.bg_state_eval_ing{background:var(--state-eval-ing-color) !important}
.bg_state_selected{background:var(--state-ylw-color) !important}

.bg_bar_default:before{background:var(--state-default-color) !important}
.bg_bar_red:before{background:var(--state-imminent-color) !important}
.bg_bar_ylw:before{background:var(--state-ylw-color) !important}
.bg_bar_end:before{background:var(--state-end-color) !important}
.bg_bar_eval_ing:before{background:var(--state-eval-ing-color) !important}
.bg_bar_write_ing:before{background:var(--state-write-ing-color) !important}
.bg_bar_before:before{background:var(--state-before-color) !important}

.sub_dot_list{display:flex;align-items:center;flex-wrap:wrap;gap:5px}
.sub_dot_list li{line-height:18px;/*color:#666;font-size:12px;*/font-size:16px;color:#141414;background:#fff;border-radius:12px;}
.sub_dot_list li + li{position:relative;padding-left:10px;}
.sub_dot_list li + li:before{content:'·';position:absolute;left:4px;top:50%;transform:translateY(-50%);font-size:12px;color:#666;}
.detail_row{display:flex}
.detail_row + .detail_row{margin-top:5px;}
.detail_row .tit{flex-shrink:0;margin-right:8px;font-size:15px;color:#999;line-height:1.4;font-weight:400}
.detail_row.min .tit{min-width:60px;font-size:14px}
.detail_row.column .tit{margin-bottom:8px}
.detail_row .desc{font-size:15px;color:#222;line-height:1.4}
.detail_row .desc button{vertical-align:top}
.detail_row .desc_list + .desc_list{margin-top:8px}
.detail_row .desc_list dt{margin-bottom:8px;font-weight:700;}
.detail_row .desc_list.dot_type dd{position:relative;padding-left:14px;}
.detail_row .desc_list.dot_type dd:before{content:'·';position:absolute;left:4px;top:4px;font-size:12px;color:#666;}
.detail_col{display:flex;flex-direction:column}
.detail_col + .detail_col{margin-top:5px;}
.detail_col .tit{margin-bottom:8px;color:#828282;line-height:1.4;font-weight:400;font-size:14px}
.detail_col .desc{font-size:16px;color:#141414;line-height:1.4}

.project_view_top{position:relative;padding:80px 20px 25px;background:#018975;}
.project_view_top .txt_num{line-height:32px;color:rgba(255, 255, 255, .5);font-weight:700}
.project_view_top .subject{margin-top:15px;font-size:20px;color:#fff;line-height:1.45;font-weight:700}
.project_view_top .date{margin:4px 0 24px;font-size:16px;color:#fff;line-height:1.45}
.project_view_top .btn_bookmark_white{right:0;top:0;}

.card_slide{position:relative;padding:40px 0;background:#F3F3F3}
.card_slide .tit_box{display:flex;padding:0 20px;margin-bottom:15px;justify-content:space-between}
.card_slide .swiper-pagination-fraction{position:relative;left:auto;right:auto;top:auto;bottom:auto;display:inline-block;width:auto;}

.row_summary{flex:1;padding:0 10px;}
.row_summary + .row_summary{border-left:1px solid rgba(255, 255, 255, .2)}
.row_summary .tit{margin-bottom:8px;font-size:16px;color:rgba(255, 255, 255, .5);line-height:1.4;font-weight:400;font-size:14px;}
.row_summary .desc{font-size:16px;color:#fff;line-height:1.4;letter-spacing:-.01em}

.btn_bookmark{overflow:hidden;position:absolute;right:20px;top:20px;z-index:1;display:inline-block;width:32px;height:32px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_bookmark.svg') no-repeat 50% 0 / 32px auto}
.btn_bookmark.active{background-position:50% 100%}
.btn_bookmark_white{overflow:hidden;position:absolute;right:20px;top:20px;z-index:1;display:inline-block;width:32px;height:32px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_bookmark_white.svg') no-repeat 50% 0 / 32px auto}
.btn_bookmark_white.active{background-position:50% 100%}
.btn_report{position:absolute;right:20px;top:20px;z-index:1;display:inline-block;width:24px;height:24px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_report.svg') no-repeat 50% 0 / 24px auto}

.btn_txt{display:inline-block;font-size:16px;color:#999}
.btn_txt.active{color:#009672;font-weight:700}
.btn_basic{display:flex;width:100%;height:48px;padding:0 10px;align-items:center;justify-content:center;background:#F3F3F3;color:#F3F3F3;border-radius:4px;font-size:16px;box-sizing:border-box;}
.btn_basic.unactive{color:#999;}
.btn_basic.active{background:#222;color:#fff;}
.btn_basic.min{width:200px !important;margin:40px auto 0}
.btn_add{display:block;width:100%;height:40px;border-radius:4px;background:#fff;border-top:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;font-size:14px;background:#fff;color:#999;box-sizing:border-box;}
.btn_add span{display:inline-block;padding-left:28px;line-height:1.5;background:url('../images/ico/ico_plus.svg') no-repeat 0 50% / 12px auto}
.btn_add.active span{color:#222;background:url('../images/ico/ico_plus_active.svg') no-repeat 0 50% / 12px auto}
.btn_line{display:flex;width:100%;height:48px;padding:0 10px;align-items:center;justify-content:center;background:#fff;color:#222;border-radius:4px;border:1px solid #222;font-size:16px;box-sizing:border-box;}
.btn_modify{display:inline-block;padding-left:25px;background:url('../images/ico/ico_write_black.svg') no-repeat 0 50% / 18px auto}
.btn_drop_menu{overflow:hidden;position:absolute;top:12px;right:10px;display:inline-block;width:30px;height:30px;border:0 none;background:url('../images/ico/ico_ellipsis_vt.svg') no-repeat 50% / 4px auto;text-indent:-9999em;}
.btn_drop_menu.white{background:url('../images/ico/ico_ellipsis_vt_white.svg') no-repeat 50% / 4px auto;}
.btn_like{position:fixed;right:20px;bottom:9%;z-index:2;display:inline-flex;flex-direction:column;padding:0;border:0 none;align-items:center;background:none;}
.btn_like:before{content:'';display:inline-block;width:30px;height:30px;background:url('../images/ico/ico_like.svg') no-repeat 50% 0 / 40px auto}
.btn_like.active:before{background-position:50% 100%}
.btn_like span{font-size:14px;color:#fff;}
.btn_profile_change{display:inline-block;width:32px;height:32px;text-indent:-9999px;background:url('../images/ico/ico_profile_change.svg') no-repeat 50% 50% / 24px auto}
.btn_profile_setting{display:inline-block;width:32px;height:32px;text-indent:-9999px;background:url('../images/ico/ico_profile_setting.svg') no-repeat 50% 50% / 24px auto}

.profile_thumb{overflow:hidden;position:relative;padding-bottom:125%;box-sizing:border-box;background:#dedede}
.profile_thumb:after{content:'';position:absolute;left:0;bottom:0;z-index:1;display:block;width:100%;height:20%;background:linear-gradient(180deg, rgba(20,20,20,0.0) 0%, rgba(20,20,20,0.4) 100%);}
.profile_thumb.completed:before{content:'';position:absolute;left:10px;z-index:1;top:10px;display:block;width:calc(100% - 20px);height:6px;background:#018975;border-radius:3px;}
.profile_thumb.ing:before{content:'';position:absolute;left:10px;top:10px;z-index:1;display:block;width:calc(100% - 20px);height:6px;background:#F6AE0D;border-radius:3px;}
.profile_thumb img{position:absolute;top:50%;left:50%;width:auto;height:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.profile_thumb .btn_del{position:absolute;right:14px;top:14px;display:inline-block;width:24px;height:24px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_x_white.svg') no-repeat 50% 0 / 24px auto;}
.profile_thumb .txt_ing{position:absolute;left:50%;top:50%;z-index:1;display:inline-block;padding:0 6px;color:#fff;border:1px solid #fff;transform:translate(-50%, -50%);box-sizing:border-box;}
.profile_thumb .state{position:absolute;left:10px;top:50%;width:52px;height:52px;}
.profile_thumb .audition_schedule{position:absolute;right:6px;top:6px;width:24px;height:24px;background:url('../images/ico/ico_audition_schedule_white.svg') no-repeat 50% 50% / 20px auto}
.profile_thumb.modify .btn_write{position:absolute;right:40px;top:10px;display:inline-block;width:24px;height:24px;border:0 none;text-indent:-9999px;background:url('../images/ico/ico_write.svg') no-repeat 50% 50% / 20px auto}
.profile_thumb.modify .btn_del{position:absolute;right:10px;top:10px;display:inline-block;width:24px;height:24px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_x_white.svg') no-repeat 50% 50% / 18px auto}

.state_choice{position:absolute;left:10%;right:10%;top:65%;display:flex;align-items:center;justify-content:space-between}
.state_choice button{display:inline-block;width:120px;height:120px;border:0 none;text-indent:-9999px;}
.state_choice .btn_before_pass{background:url('../images/btn/btn_before_pass.png') 50% 50% / 100% auto}
.state_choice .btn_before_hold{background:url('../images/btn/btn_before_hlod.png') 50% 50% / 100% auto}
.state_choice .btn_pass{background:url('../images/btn/btn_pass.png') 50% 50% / 100% auto}
.state_choice .btn_hold{background:url('../images/btn/btn_hold.png') 50% 50% / 100% auto}

.profile_add{overflow:hidden;position:relative;display:block;height:100%;border:1px solid #E7E7E7;box-sizing:border-box;}
.profile_add label{display:flex;height:100%;padding:0 10px 54% 10px;align-items:center;justify-content:center;}
.profile_add .btn_upload{position:absolute;left:50%;top:50%;width:100%;padding-top:70px;font-size:14px;line-height:1.5;text-align:center;/*color:#000;*/word-break:keep-all;background:url('../images/ico/ico_plus.svg') no-repeat 50% 0 / 50px auto;transform:translate(-50%, -50%)}
.profile_add .btn_upload.not_txt{padding-top:30px;background-size:30px auto}
.profile_add input[type="file"]{display:none}
.profile_add.min{border-radius:12px;}
.profile_add.min .btn_upload{background:url('../images/ico/ico_plus_light.svg') no-repeat 50% 0 / 50px auto;}

.profile_swiper{margin:15px 0 24px}
.profile_swiper .swiper-slide{}
.profile_swiper .profile_thumb{position:relative;height:235px}
.profile_swiper.full .profile_thumb{height:calc(100vh - 220px)}
.profile_swiper .profile_thumb label{position:absolute;left:0;top:0;display:flex;width:100%;height:100%;padding:10px;align-items:flex-end;color:#fff;border:4px solid transparent;text-shadow:0 0 1px #000;box-sizing:border-box;}
.profile_swiper .profile_thumb input:checked + label{border-color:#018A76}
.profile_swiper .profile_thumb label:before{content:'';display:block;position:absolute;top:5px;right:5px;width:24px;height:24px;}
.profile_swiper .profile_thumb input:checked + label:before{background:url('../images/btn/btn_checkbox_active.svg') no-repeat 50% 50% / 24px auto;}
.profile_view_swiper .swiper-horizontal>.swiper-scrollbar{position:fixed}
.profile_view_swiper{background:#000;}
.profile_view_swiper .swiper-slide{display:flex;flex-direction:column;justify-content:center;height:calc(var(--vh, 1vh) * 100);}
.profile_view_swiper .profile_thumb{height:calc(var(--vh, 1vh) * 100);box-sizing:border-box;}
.profile_view_swiper .profile_thumb:before{content:'';position:absolute;left:0;top:0;z-index:1;display:block;width:100%;height:10%;background:linear-gradient(0deg, rgba(20,20,20,0.0) 0%, rgba(20,20,20,0.4) 100%);}
.profile_view_swiper .btn_detail{position:fixed;left:50%;bottom:3.23%;z-index:1;padding-right:20px;color:#fff;font-size:14px;transform:translateX(-50%);background:url('../images/ico/ico_arr_double_white.svg') no-repeat 100% 50% / 12px auto} 

.profile_info{position:absolute;left:10px;bottom:10px;z-index:1;display:flex;max-width:calc(100% - 70px);gap:5px 0;align-items:center;flex-wrap:wrap;}
.profile_info.fixed{position:fixed;left:10px;bottom:10%;}
.profile_info dt{width:100%;margin-right:6px;color:#fff;text-shadow:0 0 1px #000}
.profile_info dd{font-size:12px;color:#999;letter-spacing:-.02em}
.profile_info dd + dd{padding-left:5px;}
.profile_info dd + dd:before{content:'·';margin-right:5px;color:#999}

.profile_name{padding:8px 0;/*margin:0 0 24px;*/font-size:20px;font-weight:700;}
.profile_box{padding:24px 0;border-bottom:1px solid #E7E7E7;}
.profile_box > .tit{font-weight:700;margin:0 0 12px;font-weight:700;}
.profile_update{color:#999;font-size:14px;text-align:center;padding:8px 0;border-bottom:1px solid #E7E7E7;}

.profile_list_col2{display:flex;padding:24px 10px;flex-wrap:wrap;gap:10px;box-sizing:border-box;}
.profile_list_col2.pd0{padding:0}
.profile_list_col2 li{width:calc(50% - 5px);box-sizing:border-box;}

.profile_list_col3{display:flex;padding:24px 10px;flex-wrap:wrap;gap:8px;box-sizing:border-box;}
.profile_list_col3 li{width:calc(33.3% - 6px);box-sizing:border-box;}
.profile_list_col3 .profile_thumb{padding-bottom:200%;}
.profile_list_col3 .profile_info{max-width:100%}
.profile_list_col3 .profile_info dt{font-size:14px}

.half_desc_box{display:flex;gap:20px 12px;flex-wrap:wrap;}
.half_desc_box .item{width:calc(50% - 6px);}
.half_desc_box .item.full{width:100%}
.half_desc_box .item .label{display:inline-block;color:#999;margin:0 0 8px;}
.half_desc_box .item .count{font-size:18px;font-weight:700;}

/* swiper */
.swiper_fraction{height:100%;}
.swiper_fraction .swiper-wrapper{padding-bottom:20px}
.swiper_fraction .swiper-slide{display:flex;height:auto;align-items:center;justify-content:center}
.swiper_fraction .swiper-pagination-fraction{bottom:0}
.swiper-horizontal>.swiper-scrollbar.ylw_type,
.swiper-scrollbar.swiper-scrollbar-horizontal.ylw_type{position:absolute;left:50%;bottom:8.63%;width:40%;height:3px;margin-left:-20%;background:rgba(255, 255, 255, .4);}
.swiper-scrollbar.ylw_type .swiper-scrollbar-drag{background:#F6AE0D} 

/*login*/
.login_wrap{padding:40px 20px;background:#F7F7F7}
.login_wrap .txt_large{margin-bottom:20px;font-size:28px;line-height:1.42;color:#141414;letter-spacing:-.01em}
.login_wrap .txt_mid{margin-bottom:10px;font-size:14px;line-height:1.42;color:#141414;letter-spacing:-.01em}
.login_wrap .txt_gray{font-size:12px;line-height:1.5;color:#999;letter-spacing:-.01em}
.login_wrap .type_list{display:flex;margin:40px 0 60px;gap:10px}
.login_wrap .type_list li{flex:1;}
.login_wrap .type_list li:first-child label{background:#fff url('../images/ico/ico_cast.svg') no-repeat 50% 20px}
.login_wrap .type_list li:nth-child(2) label{background:#fff url('../images/ico/ico_perform.svg') no-repeat 50% 20px}
.login_wrap .btn_box button{position:relative;display:flex;width:100%;height:56px;padding:0 14px;border-radius:4px;color:#222;font-size:16px;justify-content:center;align-items:center;}
.login_wrap .btn_box button + button{margin-top:8px}
.login_wrap .btn_box button:before{content:'';position:absolute;left:14px;top:50%;display:inline-block;width:24px;height:24px;margin-top:-12px;vertical-align:middle;}
.login_wrap .btn_box .btn_kakao{background:#FEE500}
.login_wrap .btn_box .btn_google{background:#222;color:#fff}
.login_wrap .btn_box .btn_kakao:before{background:url('../images/ico/ico_kakao.svg') no-repeat 50% 50%}
.login_wrap .btn_box .btn_google:before{background:url('../images/ico/ico_google.svg') no-repeat 50% 50%}
.login_wrap .txt_agree{margin-top:20px;text-align:center;font-size:11px;letter-spacing:-.03em;line-height:1.45}
.login_wrap .txt_agree > span{text-decoration:underline;}

.list_choice .tit{font-weight:500;font-size:20px;color:#222;word-break:break-all}
.list_choice input[type="radio"]{display:none}
.list_choice input[type="radio"] + label{display:flex;flex-direction:column;padding:90px 5px 20px;border-radius:12px;align-items:center;border:1px solid #E7E7E7;/*margin-top:10px;*/text-align:center;color:#999;font-size:12px;line-height:1.42;word-break:keep-all;letter-spacing:-.01em;background:#fff;}
.list_choice input[type="radio"]:checked + label{box-shadow:inset 0 0 0 1px #018975;border-color:#018975}

/*setting*/
.setting_list{margin:5px 20px}
.setting_list li{border-bottom:1px solid #E7E7E7}
.setting_list li button{display:block;width:100%;padding:15px 20px;line-height:24px;text-align:left;}
.setting_list li button:before{content:'';display:inline-block;width:24px;height:24px;margin-right:10px;vertical-align:middle;background:url('../images/ico/ico_setting.svg') no-repeat}
.setting_list li.list2 button:before{background-position:0 calc(-1 * var(--gap-ico-setting))}
.setting_list li.list3 button:before{background-position:0 calc(-2 * var(--gap-ico-setting))}
.setting_list li.list4 button:before{background-position:0 calc(-3 * var(--gap-ico-setting))}
.setting_list li.list5 button:before{background-position:0 calc(-4 * var(--gap-ico-setting))}
.setting_list li.list6 button:before{background-position:0 calc(-5 * var(--gap-ico-setting))}
.setting_list li.list7 button:before{background-position:0 calc(-6 * var(--gap-ico-setting))}
.setting_list li.list8 button:before{background-position:0 calc(-7 * var(--gap-ico-setting))}

/*step_bar*/
.step_bar{position:relative;display:flex;justify-content:space-between;margin:25px 0;}
.step_item {position:relative;display:flex;flex-direction:column;flex:1;}
.step_item:first-child{align-items:flex-start;}
.step_item:nth-child(2){align-items:center;}
.step_item:last-child{align-items:flex-end;}
.step_item:before {position:absolute;content:"";border-bottom:2px solid #D8D8D8;width:calc(150% - 20px);top:8px;left:20px;z-index:2;}
.step_item:first-child:before{left:20px;}
.step_item:nth-child(2):before{left:50%;}
.step_item:last-child:before{display:none;content:none;}
.step_item .tit{position:relative;padding-top:22px;font-size:12px;color:#999}
.step_item .tit:before{content:'';position:absolute;left:50%;top:0;z-index:5;display:flex;justify-content:center;align-items:center;width:16px;height:16px;border-radius:50%;background:#D8D8D8;margin-bottom:6px;transform:translateX(-50%) }
.step_item .tit:after{content:'';position:absolute;left:50%;top:4px;z-index:5;display:flex;justify-content:center;align-items:center;width:8px;height:8px;background:#fff;border-radius:50%;transform:translateX(-50%)}
.step_item.active:before{border-color:#018975}
.step_item.active .tit{color:#018975;font-weight:700}
.step_item.active .tit:before{background:#fff;border:2px solid #018975;box-sizing:border-box}
.step_item.active .tit:after{background:#018975}
.step_item.completed:before{border-color:#018975}
.step_item.completed .tit{color:#018975;font-weight:700}
.step_item.completed .tit:before{display:none}
.step_item.completed .tit:after{background:#018975}
.step_item.fail .tit{color:#222;font-weight:700}
.step_item.fail .tit:before{background:#fff;border:2px solid #222;box-sizing:border-box}
.step_item.fail .tit:after{background:#222}

/*error*/
.error{display:flex;height:calc(var(--vh, 1vh) * 100);align-items:center;flex-direction:column;justify-content:center;}
.txt_error{padding-top:140px;margin-bottom:8px;font-size:24px;font-weight:500;background:url('../images/ico/ico_wifi_error.svg') no-repeat 50% 0}

.list_none{display:flex;padding:125px 20px 0;align-items:center;flex-direction:column;justify-content:center;}
.list_none .tit{padding-top:110px;margin-bottom:8px;font-size:20px;font-weight:500;text-align:center;background:url('../images/ico/ico_scene.svg') no-repeat 50% 0}
.list_none .desc{font-size:16px;color:#999;text-align:center}


/*******************/
.txt_gr{font-size:14px;color:#999;}
.sub_tit{color:#000;font-weight:700;}
.white_box{border-top:10px solid #F3F3F3;padding:24px 20px;}
.white_box.no_line{border-top:0}
.white_box.pd_tb0{padding:12px 0;}
.project_dot_tit{margin-bottom:15px;font-size:20px;font-weight:700}
.project_dot_tit:before{content:'';display:inline-block;width:10px;height:10px;margin-right:10px;border-radius:50%;background:var(--state-default-color)}


/* 일정 선택 nav */
.schedule_choice_nav{position:relative;padding-bottom:10px;}
.schedule_choice_nav ul{display:flex;flex-wrap:nowrap;align-items:flex-end}
.schedule_choice_nav ul li{flex:1 1 0;text-align:center;display:flex;flex-direction:column;justify-content:flex-end;}
.schedule_choice_nav ul li .month{font-size:14px;color:#3E664C;line-height:18px;display:inline-block;margin:8px 0;font-weight:700;}
.schedule_choice_nav ul li button{width:56px;height:56px;display:flex;align-items:center;justify-content:center;flex-direction:column;}
.schedule_choice_nav ul li button span{font-size:16px;color:#141414;}
.schedule_choice_nav ul li button em{font-size:14px;color:#999;}
.schedule_choice_nav ul li.active button{background:#018975;}
.schedule_choice_nav ul li.active button span{color:#fff;}
.schedule_choice_nav ul li.active button em{color:#A1FFC2;}
.schedule_choice_nav .swiper-horizontal>.swiper-scrollbar,
.schedule_choice_nav .swiper-scrollbar.swiper-scrollbar-horizontal{background:transparent}
.schedule_choice_nav .swiper-scrollbar-drag{background:#E0E0E0;}

/* 시간 선택 */
.time_choice_box{margin:24px 0 0;}
.time_choice_box .lb{margin:0 0 8px;}
.time_choice_box ul{display:flex;gap:5px 4px;flex-wrap:wrap;}
.time_choice_box ul li{width:calc(100% * (1/4) - 3px);}
.time_choice_box ul li button{width:100%;height:45px;line-height:45px;display:inline-block;border:1px solid #E7E7E7;text-align:center;color:#999;text-align:center;box-sizing:border-box;}
.time_choice_box ul li.active button{background:#018975;border-color:#018975;color:#fff;}
.pop_head .sub_tit{font-size:16px;font-weight:700;text-align:left;}
.addr_box{margin:6px 0 15px;}
.layer_noti{/*display:none;*/position:fixed;bottom:50%;left:50%;z-index:101;padding:8px 20px;transform:translate(-50%, -50%);box-shadow:2px 2px 5px rgba(0,0,0,.3);text-wrap:nowrap;background:#fff;box-sizing:border-box;}

/* Schedule Calendar */
.schedule_calendar .flatpickr-day.selected,.schedule_calendar .flatpickr-day.startRange,.schedule_calendar .flatpickr-day.endRange,.schedule_calendar .flatpickr-day.selected.inRange,.schedule_calendar .flatpickr-day.startRange.inRange,.schedule_calendar .flatpickr-day.endRange.inRange,.schedule_calendar .flatpickr-day.selected:focus,.schedule_calendar .flatpickr-day.startRange:focus,.schedule_calendar .flatpickr-day.endRange:focus,.schedule_calendar .flatpickr-day.selected:hover,.schedule_calendar .flatpickr-day.startRange:hover,.schedule_calendar .flatpickr-day.endRange:hover,.schedule_calendar .flatpickr-day.selected.prevMonthDay,.schedule_calendar .flatpickr-day.startRange.prevMonthDay,.schedule_calendar .flatpickr-day.endRange.prevMonthDay,.schedule_calendar .flatpickr-day.selected.nextMonthDay,.schedule_calendar .flatpickr-day.startRange.nextMonthDay,.schedule_calendar .flatpickr-day.endRange.nextMonthDay,.schedule_calendar .flatpickr-day.inRange,.schedule_calendar .flatpickr-day.prevMonthDay.inRange,.schedule_calendar .flatpickr-day.nextMonthDay.inRange,.schedule_calendar .flatpickr-day.today.inRange,.schedule_calendar .flatpickr-day.prevMonthDay.today.inRange,.schedule_calendar .flatpickr-day.nextMonthDay.today.inRange,.schedule_calendar .flatpickr-day:hover,.schedule_calendar .flatpickr-day.prevMonthDay:hover,.schedule_calendar .flatpickr-day.nextMonthDay:hover,.schedule_calendar .flatpickr-day:focus,.schedule_calendar .flatpickr-day.prevMonthDay:focus,.schedule_calendar .flatpickr-day.nextMonthDay:focus{background:transparent;border:0;}
.schedule_calendar .flatpickr-calendar.inline{width:100%;box-shadow:none;}
.schedule_calendar .flatpickr-weekdays{height:16px;margin:0 0 8px;}
.schedule_calendar .flatpickr-weekday{font-size:12px;color:#999;font-weight:normal}
.schedule_calendar .flatpickr-months{display:none;}
.schedule_calendar .flatpickr-monthBox{text-align:left;height:56px;padding:14px 20px 13px;box-sizing:border-box;display:flex;align-items:center;}
.schedule_calendar .flatpickr-monthSelect{font-size:20px;padding-right:24px;height:24px;border:0;background:url('../images/ico/ico_selet_arr_down.svg') no-repeat right 0 center / 24px auto;font-weight:700;outline:0;}
.schedule_calendar .flatpickr-innerContainer{width:100%;padding:16px 20px;}
.schedule_calendar .flatpickr-rContainer{width:100%;}
.schedule_calendar .dayContainer{width:100%;max-width:100%;min-width:280px;}
.schedule_calendar .flatpickr-days{width:100%;}
.schedule_calendar .flatpickr-day{max-width:14.2857143%;height:47px;line-height:47px;display:flex;justify-content:center;align-items:center;flex-direction:column;}
.schedule_calendar .flatpickr-day em{display:block;width:30px;height:30px;line-height:30px;color:#222;box-sizing:border-box;}
.schedule_calendar .flatpickr-day.holiday em{color:#ED3964;}
.schedule_calendar .flatpickr-day .stat{width:100%;height:6px;position:absolute;bottom:0;left:0;line-height:0;font-size:0;}
.schedule_calendar .flatpickr-day .stat span{display:inline-block;width:5px;height:5px;border-radius:50%;}
.schedule_calendar .flatpickr-day .stat span + span{margin-left:2px;}
.schedule_calendar .flatpickr-day.selected,
.schedule_calendar .flatpickr-day.today{background:none;border:0;}
.schedule_calendar .flatpickr-day.today em{background:#E6F4F2;border-radius:50%;}
.schedule_calendar .flatpickr-day.selected em{border:0;background:#018975;border-radius:50%;color:#fff;}

/*이전달, 다음달 날짜 컬러변경*/
.schedule_calendar .flatpickr-day.flatpickr-disabled,
.schedule_calendar .flatpickr-day.flatpickr-disabled:hover,
.schedule_calendar .flatpickr-day.prevMonthDay em,
.schedule_calendar .flatpickr-day.nextMonthDay em,
.schedule_calendar .flatpickr-day.notAllowed em,
.schedule_calendar .flatpickr-day.notAllowed.prevMonthDay em,
.schedule_calendar .flatpickr-day.notAllowed.nextMonthDay em{color:#D8D8D8;}

/*Schedule List*/
.schedule_box{position:relative;background:#fff;padding:12px 12px 12px 38px;box-sizing:border-box;border-radius:8px;}
.schedule_box:before{content:'';display:inline-block;width:6px;height:calc(100% - 24px);background:#018975;border-radius:6px;position:absolute;top:12px;left:12px;}
.schedule_box.active{border:1px solid #999;}
.schedule_box + .schedule_box{margin-top:12px;}
.schedule_box.active.bg_bar_red{border-color:#ED3964;}
.schedule_box.active.bg_bar_ylw{border-color:#FEB104;}
.schedule_box.active.bg_bar_green{border-color:#018975;}
.schedule_box.active.bg_bar_end{border-color:var(--state-end-color) !important}
.schedule_box.active .btn_drop_menu{display:none;}
.schedule_box .tit{font-weight:700;}
.schedule_box > ul{margin:12px 0 0;}
.schedule_box > ul li{position:relative;padding-left:24px;}
.schedule_box > ul li + li{margin-top:4px;}
.schedule_box > ul li:before{content:'';display:inline-block;width:16px;height:16px;background:url('../images/ico/ico_schedule_infos.svg') no-repeat 0 0 / 16px auto;position:absolute;top:3px;left:0;}
.schedule_box .casting:before{background-position:0 0;}
.schedule_box .location:before{background-position:0 -27px;}

/* 캐스팅 내역 */
.casting_box{overflow:hidden;border-bottom:1px solid #E7E7E7;padding:12px 0;}
.casting_box:nth-child(1){padding-top:0;}
.casting_box .casting_list{margin:12px 0 0;display:inline-block;text-align:center;flex:0 1 50px;}
.casting_box .casting_list .thumb{width:50px;height:50px;border-radius:50%;overflow:hidden;}
.casting_box .casting_list .thumb img{text-align:center;max-width:100%;}
.casting_box .casting_list .name{display:inline-block;font-size:14px;margin:6px 0 0;}


/* 주소 입력 팝업 */
.addr_form{margin:12px 0 0;}
.search_box{margin:12px 0 32px;}
.search_box .inp_field{position:relative;}
.search_box .inp_field:after{content:'';display:inline-block;width:20px;height:20px;background:url('../images/ico/ico_mag.svg') no-repeat 50% / 20px auto;position:absolute;left:10px;top:50%;margin-top:-10px;}
.search_box .inp_field input.search_bar{padding:11px 44px 11px 40px;border-bottom:1px solid #E7E7E7;box-sizing:border-box;}
.search_box .inp_field input.search_bar:focus{border-color:#018975;}
.search_box .inp_field .btn_reset{display:none;width:24px;height:24px;background:url('../images/btn/btn_reset.svg') no-repeat 50% 50% / 20px auto;position:absolute;right:10px;top:50%;border:0;outline:0;text-indent:-9999em;overflow:hidden;margin-top:-12px;}
.addr_form .addr_list > div{display:block;width:100%;padding:0 0 12px;border-bottom:1px solid #E7E7E7;}
.addr_form .addr_list > div .txt{color:#999;margin-top:4px;}
.addr_form .addr_list > div + div{margin-top:12px;}
.addr_form .inp_field{position:relative;}
.addr_form .addr_detail{padding:0 0 88px;}
.addr_form .addr_detail .inp_field + .inp_field{margin-top:12px;}
.addr_form .addr_detail input{height:40px;border-bottom:1px solid #E7E7E7;box-sizing:border-box;}
.addr_form .addr_detail input:focus,.addr_form .addr_detail input.active{border-color:#018975;}
.addr_form .addr_detail input.location_name{margin-bottom:32px;}
.addr_form .addr_detail .fix_bottom{box-shadow:none;}
.addr_form .addr_detail .fix_bottom a{font-weight:700;}

/**/
#pop_profile .btn_drop_menu{position:absolute;top:15px;right:20px;width:30px;height:30px;z-index:101;background:url('../images/ico/ico_ellipsis_vt.svg') no-repeat 50% 50% / 4px auto;}
#pop_profile .btn_sharing{position:absolute;right:55px;top:15px;z-index:101;display:inline-block;width:30px;height:30px;border:0 none;text-indent:-9999px;background:url('../images/ico/ico_sharing.svg') no-repeat 50% 50% / 18px auto;}
#pop_profile .btn_report{position:absolute;top:15px;right:20px;width:30px;height:30px;z-index:101;background:url('../images/btn/btn_report_black.svg') no-repeat 50% 50% / 24px auto;}

.pop_calendar .flatpickr-calendar{margin:0 auto;box-shadow:none}
.pop_calendar .flatpickr-day.selected{background:#018975 !important;border-color:#018975 !important}

#pop_time .time_selector{width:100%;height:48px;padding:0 10px;border:0 none;text-align:center;font-size:20px;border:1px solid #D8D8D8;box-sizing:border-box}
/*******************/
.flatpickr-calendar.hasTime .flatpickr-time{border-top:0 none !important}
.flatpickr-calendar.inline{box-shadow:none}

@media screen and (orientation:landscape){
    .dim_layer .pop_wrap{overflow-y:auto;min-height:auto;max-height:80%;}
    .pop_wrap .pop_cont{min-height:auto;}
    /*.profile_view_swiper .swiper-slide{height:auto;}
	.profile_view_swiper .profile_thumb{height:auto}*/
    .profile_thumb img{width:100%;height:auto}
    .profile_view_swiper .swiper-horizontal>.swiper-scrollbar,
    .profile_view_swiper .swiper-scrollbar.swiper-scrollbar-horizontal{bottom:12%;}
}